# Unity temporary build & editor cache folders
[Ll]ibrary/
[Tt]emp/
[Uu]ser[Ss]ettings/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Lg]ogs/
[Mm]emoryCaptures/
Applications/
recoverytool/logs/
*.csproj
*.unityproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.idb

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environments
.env
.venv
env/
venv/
ENV/

# Pytest / Cache
.pytest_cache/
.coverage
